/*General Styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
}

nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
  color: #fff;
  padding: 1rem;
}

a:hover {
  opacity: 1;
}

a.btn {
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #3f51b5;
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}
